{% extends "layout.html" %}

{% block title %}
    Exercises
{% endblock %}

{% block main %}

    <div class="row white" >
      <div class="column">
        <a href="https://www.youtube.com/watch?v=3dHcT1-K-tw">
              <input type="image" src="/static/ifbasics.jpg" class="img">Intermittent Fasting Basics
        </a>
      </div>
      <div class="column">
        <a href="https://www.youtube.com/watch?v=ikGTzWPo8C0">
              <input type="image" src="/static/ifpattern.jpg" class="img"> Intermittent Fasting Best Pattern
        </a>
      </div>
      <div class="column">
        <a href="https://www.youtube.com/watch?v=6aOGxhbe-Hc&t=13s">
              <input type="image" src="/static/ifliquids.jpg" class="img">Acceptable Liquids with IF
        </a>
      </div>
    </div>

    <div class="row white" >
      <div class="column">
        <a href="https://www.youtube.com/watch?v=DzknJGLYk9I">
              <input type="image" src="/static/ifmuscle.jpg" class="img">Intermittent Fasting and Muscle Mass Gain
        </a>
      </div>
      <div class="column">
        <a href="https://www.youtube.com/watch?v=F91E9SoIUHo">
              <input type="image" src="/static/ifimmune.jpg" class="img"> Make Your Immune System Bulletproof Now
        </a>
      </div>
      <div class="column">
        <a href="https://www.youtube.com/watch?v=aHKaygC0PnQ">
              <input type="image" src="/static/ifbelly.jpg" class="img">  EXTREMELY FAST! How to Lose Your Belly Fat
        </a>
      </div>
    </div>

{% endblock %}
