{% extends "layout.html" %}

{% block title %}
    Exercises
{% endblock %}

{% block main %}

    <div class="row white" >
      <div class="column">
        <a href="https://www.youtube.com/watch?v=WauhJpdZh5A">
              <input type="image" src="/static/bench.jpg" alt="bench" class="img">Bench-Workout
        </a>
      </div>
      <div class="column">
        <a href="https://www.youtube.com/watch?v=a9_JPgwW9nw">
              <input type="image" src="/static/back.jpg" alt="back" class="img"> Back-Workout
        </a>
      </div>
      <div class="column">
        <a href="https://www.youtube.com/watch?v=mXAN23RW2vc">
              <input type="image" src="/static/shoulders.jpg" alt="shoulders" class="img">Shoulders-Workout
        </a>
      </div>
    </div>

    <div class="row white" >
      <div class="column">
        <a href="https://www.youtube.com/watch?v=g0Px2CkKnYY">
              <input type="image" src="/static/leg.jpg" alt="leg" class="img">Legs-Workout
        </a>
      </div>
      <div class="column">
        <a href="https://www.youtube.com/watch?v=yPrsuV3E-Dc">
              <input type="image" src="/static/abs.jpg" alt="Abdomen" class="img"> Abdomen-Workout
        </a>
      </div>
      <div class="column">
        <a href="https://www.youtube.com/watch?v=SBWfWZLAksY">
              <input type="image" src="/static/biceps.jpg" alt="biceps" class="img">Biceps-Workout
        </a>
      </div>
    </div>

{% endblock %}
